# Certificates
.pem

# Environment variables
.env

# Service-specific data

## Audiobookshelf
/audiobookshelf/config/
/audiobookshelf/metadata/

## Beszel
/beszel/agent/beszel_agent_data/
/beszel/hub/beszel_data/

## Caddy
/caddy/certs/

## Jellyfin
/jellyfin/cache/
/jellyfin/config/

## Home Assistant
/homeassistant/config/

## Pi-Hole
/pihole/etc/

## Torrent
/torrent/config/

## WireGuard
/wireguard/etc/

