# Certificates
.pem

# Environment variables
.env

# Service-specific data

## Audiobookshelf
/audiobookshelf/config/
/audiobookshelf/metadata/

## Beszel
/beszel/agent/docker-compose.yml
/beszel/agent/beszel_agent_data/
/beszel/hub/beszel_data/

## Caddy
/caddy/certs/

## Jellyfin
/jellyfin/cache/
/jellyfin/config/

## Home Assistant
/homeassistant/config/

## Immich
/immich/server/immich/
/immich/server/postgres/

## Pi-Hole
/pihole/etc/

## Torrent
/torrent/config/

## WireGuard
/wireguard/etc/

## Seerr
/seerr/config

## Matter
/matter/data

## *arr
/arr/prowlarr
/arr/radarr
/arr/sonarr
